# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Environment variables file
.env

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
